# Custom configuration for rook-data.

server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    server_name  _;
    root         /usr/share/nginx/html;

    # Serve C3S-CORDEX data
    location {{ roocs_data_base }}/esg_c3s-cordex/ {
        alias {{ roocs_data_c3s_cordex }};
    } 

    # Serve C3S-CMIP5 data
    location {{ roocs_data_base }}/esg_c3s-cmip5/ {
        alias {{ roocs_data_c3s_cmip5 }};
    }

    # Serve C3S-CMIP6 data
    location {{ roocs_data_base }}/esg_c3s-cmip6/ {
        alias {{ roocs_data_c3s_cmip6 }};
    }

    # Serve C3S-IPCC-AR6-Atlas data
    location {{ roocs_data_base }}/esg_c3s-ipcc-atlas/ {
        alias {{ roocs_data_c3s_ipcc_atlas }};
    }

    # Serve C3S-CICA-Atlas data
    location {{ roocs_data_base }}/esg_c3s-cica-atlas/ {
        alias {{ roocs_data_c3s_cica_atlas }};
    }
}

# Settings for a TLS enabled server.

server {
    listen       443 ssl http2 default_server;
    listen       [::]:443 ssl http2 default_server;
    server_name  _;
    root         /usr/share/nginx/html;

    ssl_certificate        {{ ssl_certs_cert_path }};
    ssl_certificate_key    {{ ssl_certs_privkey_path }};
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers PROFILE=SYSTEM;
    ssl_prefer_server_ciphers on;

    # Serve C3S-CORDEX data
    location {{ roocs_data_base }}/esg_c3s-cordex/ {
        alias {{ roocs_data_c3s_cordex }};
    } 

    # Serve C3S-CMIP5 data
    location {{ roocs_data_base }}/esg_c3s-cmip5/ {
        alias {{ roocs_data_c3s_cmip5 }};
    }

    # Serve C3S-CMIP6 data
    location {{ roocs_data_base }}/esg_c3s-cmip6/ {
        alias {{ roocs_data_c3s_cmip6 }};
    }

    # Serve C3S-IPCC-AR6-Atlas data
    location {{ roocs_data_base }}/esg_c3s-ipcc-atlas/ {
        alias {{ roocs_data_c3s_ipcc_atlas }};
    }

    # Serve C3S-CICA-Atlas data
    location {{ roocs_data_base }}/esg_c3s-cica-atlas/ {
        alias {{ roocs_data_c3s_cica_atlas }};
    }
}



